
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    
  }

.container {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M32.83 -21.23L97.78 16.27L97.78 91.27L32.83 128.77L-32.12 91.27L-32.12 16.27zM97.78 91.27L162.74 128.77L162.74 203.77L97.78 241.27L32.83 203.77L32.83 128.77zM97.78 316.27L162.74 353.77L162.74 428.77L97.78 466.27L32.83 428.77L32.83 353.77zM292.64 203.77L357.6 241.27L357.6 316.27L292.64 353.77L227.69 316.27L227.69 241.27zM357.6 316.27L422.55 353.77L422.55 428.77L357.6 466.27L292.64 428.77L292.64 353.77zM422.55 -21.23L487.51 16.27L487.51 91.27L422.55 128.77L357.6 91.27L357.6 16.27zM487.51 91.27L552.46 128.77L552.46 203.77L487.51 241.27L422.55 203.77L422.55 128.77zM552.46 203.77L617.41 241.27L617.41 316.27L552.46 353.77L487.51 316.27L487.51 241.27zM747.32 316.27L812.28 353.77L812.28 428.77L747.32 466.27L682.37 428.77L682.37 353.77zM812.27 203.77L877.23 241.27L877.23 316.27L812.27 353.77L747.32 316.27L747.32 241.27zM877.23 316.27L942.18 353.77L942.18 428.77L877.23 466.27L812.27 428.77L812.27 353.77zM1007.14 316.27L1072.09 353.77L1072.09 428.77L1007.14 466.27L942.18 428.77L942.18 353.77zM1137.04 316.27L1202 353.77L1202 428.77L1137.04 466.27L1072.09 428.77L1072.09 353.77zM1202 203.77L1266.95 241.27L1266.95 316.27L1202 353.77L1137.04 316.27L1137.04 241.27zM1396.86 91.27L1461.81 128.77L1461.81 203.77L1396.86 241.27L1331.9 203.77L1331.9 128.77zM1526.77 316.27L1591.72 353.77L1591.72 428.77L1526.77 466.27L1461.81 428.77L1461.81 353.77zM1461.81 428.77L1526.77 466.27L1526.77 541.27L1461.81 578.77L1396.86 541.27L1396.86 466.27z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M25.33 -21.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM90.28 16.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM90.28 91.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM25.33 128.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-39.62 91.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-39.62 16.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM155.24 128.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM155.24 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM90.28 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM25.33 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM90.28 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM155.24 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM155.24 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM90.28 466.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM25.33 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM25.33 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM285.14 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM350.1 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM350.1 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM285.14 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM220.19 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM220.19 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM415.05 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM415.05 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM350.1 466.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM285.14 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM415.05 -21.23 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM480.01 16.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM480.01 91.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM415.05 128.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM350.1 91.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM350.1 16.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM544.96 128.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM544.96 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM480.01 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM415.05 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM609.91 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM609.91 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM544.96 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM480.01 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM739.82 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM804.78 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM804.78 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM739.82 466.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM674.87 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM674.87 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM804.77 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM869.73 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM869.73 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM804.77 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM739.82 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM934.68 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM934.68 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM869.73 466.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM804.77 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM999.64 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1064.59 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1064.59 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM999.64 466.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1129.54 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1194.5 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1194.5 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1129.54 466.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1194.5 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1259.45 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1259.45 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1129.54 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1389.36 91.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1454.31 128.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1454.31 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1389.36 241.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1324.4 203.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1324.4 128.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1519.27 316.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1584.22 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1584.22 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1519.27 466.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1454.31 428.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1454.31 353.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1519.27 541.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1454.31 578.77 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1389.36 541.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1389.36 466.27 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M136.46 53.96L179.76 78.96L179.76 128.96L136.46 153.96L93.16 128.96L93.16 78.96zM136.46 203.96L179.76 228.96L179.76 278.96L136.46 303.96L93.16 278.96L93.16 228.96zM93.16 428.96L136.46 453.96L136.46 503.96L93.16 528.96L49.85 503.96L49.85 453.96zM179.76 128.96L223.06 153.96L223.06 203.96L179.76 228.96L136.46 203.96L136.46 153.96zM309.67 353.96L352.97 378.96L352.97 428.96L309.67 453.96L266.37 428.96L266.37 378.96zM352.97 128.96L396.27 153.96L396.27 203.96L352.97 228.96L309.67 203.96L309.67 153.96zM396.27 203.96L439.58 228.96L439.58 278.96L396.27 303.96L352.97 278.96L352.97 228.96zM396.27 353.96L439.58 378.96L439.58 428.96L396.27 453.96L352.97 428.96L352.97 378.96zM482.88 353.96L526.18 378.96L526.18 428.96L482.88 453.96L439.58 428.96L439.58 378.96zM439.58 428.96L482.88 453.96L482.88 503.96L439.58 528.96L396.27 503.96L396.27 453.96zM526.18 128.96L569.48 153.96L569.48 203.96L526.18 228.96L482.88 203.96L482.88 153.96zM569.48 353.96L612.78 378.96L612.78 428.96L569.48 453.96L526.18 428.96L526.18 378.96zM526.18 428.96L569.48 453.96L569.48 503.96L526.18 528.96L482.88 503.96L482.88 453.96zM656.09 203.96L699.39 228.96L699.39 278.96L656.09 303.96L612.78 278.96L612.78 228.96zM829.3 353.96L872.6 378.96L872.6 428.96L829.3 453.96L786 428.96L786 378.96zM786 428.96L829.3 453.96L829.3 503.96L786 528.96L742.69 503.96L742.69 453.96zM915.9 203.96L959.21 228.96L959.21 278.96L915.9 303.96L872.6 278.96L872.6 228.96zM872.6 428.96L915.9 453.96L915.9 503.96L872.6 528.96L829.3 503.96L829.3 453.96zM1002.51 53.96L1045.81 78.96L1045.81 128.96L1002.51 153.96L959.21 128.96L959.21 78.96zM959.21 278.96L1002.51 303.96L1002.51 353.96L959.21 378.96L915.9 353.96L915.9 303.96zM1002.51 353.96L1045.81 378.96L1045.81 428.96L1002.51 453.96L959.21 428.96L959.21 378.96zM959.21 428.96L1002.51 453.96L1002.51 503.96L959.21 528.96L915.9 503.96L915.9 453.96zM1175.72 53.96L1219.02 78.96L1219.02 128.96L1175.72 153.96L1132.41 128.96L1132.41 78.96zM1262.32 203.96L1305.63 228.96L1305.63 278.96L1262.32 303.96L1219.02 278.96L1219.02 228.96zM1262.32 353.96L1305.63 378.96L1305.63 428.96L1262.32 453.96L1219.02 428.96L1219.02 378.96zM1262.32 503.96L1305.63 528.96L1305.63 578.96L1262.32 603.96L1219.02 578.96L1219.02 528.96zM1348.93 53.96L1392.23 78.96L1392.23 128.96L1348.93 153.96L1305.63 128.96L1305.63 78.96zM1392.23 -21.04L1435.53 3.96L1435.53 53.96L1392.23 78.96L1348.93 53.96L1348.93 3.96zM1392.23 128.96L1435.53 153.96L1435.53 203.96L1392.23 228.96L1348.93 203.96L1348.93 153.96zM1435.53 353.96L1478.84 378.96L1478.84 428.96L1435.53 453.96L1392.23 428.96L1392.23 378.96zM1435.53 503.96L1478.84 528.96L1478.84 578.96L1435.53 603.96L1392.23 578.96L1392.23 528.96z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border-radius: 20px;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 30px #000; */
}

#display {
    margin: 0 10px 20px;
    height: 150px;
    width: auto;
    max-width: 255px;
    color: #ffffff;
    background-color: #131c1f;
    font-size: 30px;
    overflow-x: scroll;
    border-radius: 10px;
    box-shadow: 0 0 25px #000;
    padding: 10px;
  }

#display {
    /* ...other properties... */
    padding-top: 10px; /* Adds space above the content */
    padding-bottom: 10px; /* Adds space below the content */
}
#display::-webkit-scrollbar {
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 15px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px #000;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    &:hover{
      transform: scale(1.1);
    }
}

.calculator {
    background-color: #2b429370;
  }

#clear ,#equal{
    width: 135px;
    background-color: #010101;
    color: #bd3740;
  }
#backspace{
  color: #bd3740;
}
#equal{
  color: #aa00a4
}
.btn-number {
  background-color: #0c171c;
  color: #f8fafb;
}

.btn-operator {
  background-color: #010101;
  color: #aa00a4;
}
  
.btn-equal {
  background-color: #090909;
  color: #ffffff;
}
  